# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

*/__pycache__/*
*/__pycache__/
/__pycache__/

*.pt

*.zip

runs/

*.png

MOT15/

*.txt
/.project
